<div>
  <div class="row mb-3 d-flex justify-content-center">
    <form action="/sort" method="get">
      <div class="input-group mb-2">
        <label class="input-group-text" for="categoryFilter">Filter</label>
        <select
          name="categoryFilter"
          class="form-select ms-2"
          id="categoryFilter"
          onchange="this.form.submit()"
        >
          <option value="" {{selected categoryFilter ""}}>Category</option>
          {{#each categories}}
            <option value="{{this._id}}" {{selected this.name ../categoryFilter}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="input-group">
        <label for="sortWay" class="input-group-text">Sort By</label>
        <select
          name="sortWay"
          class="form-select mx-2"
          id="sortWay"
          onchange="this.form.submit()"
        >
          <option value="asc" {{selected sortWay 'asc'}}>Ascending order</option>
          <option value="desc" {{selected sortWay 'desc'}}>Descending order</option>
        </select>
        <select
          name="sortBy"
          class="form-select"
          id="sortBy"
          onchange="this.form.submit()"
        >
          <option value="date" {{selected sortBy 'date'}}>Date</option>
          <option value="category" {{selected sortBy 'category'}}>Category</option>
          <option value="name" {{selected sortBy 'name'}}>Name</option>
          <option value="amount" {{selected sortBy 'amount'}}>Amount</option>
        </select>
      </div>
    </form>
  </div>
  <div class="mb-3">
    <div class="card border-0">
      <div class="card-body d-flex flex-column align-items-center">
        <h5 class="card-title fw-bold">Your Balance</h5>
        <h6
          class="card-text fs-3 fw-bolder text-{{totalAmountColor}}"
        >${{totalAmount}}</h6>
        <div
          class="row py-2 shadow-sm border rounded-3 font-monospace"
          style="width: 70%;"
        >
          <div class="col border-end text-center">
            <h6>Income</h6>
            <h4 class="text-info">${{income}}</h4>
          </div>
          <div class="col text-center">
            <h6>Expense</h6>
            <h4 class="text-danger">${{expense}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <div class="card">
      <div class="card-body" style="overflow-x:auto;">
        <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Category</th>
              <th scope="col">Name</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each finalRecords}}
              <tr>
                <td>{{this.type}}</td>
                <td><i class="{{this.icon}}"></i></td>
                <td>{{this.name}}</td>
                <td>{{this.date}}</td>
                <td>{{this.amount}}</td>
                <td><a href="/expense/edit/{{this._id}}" class="edit-icon"><i
                      class="fa-solid fa-pen-to-square"
                    ></i></a></td>
                <td>
                  <form
                    action="/expense/delete/{{this._id}}?_method=DELETE"
                    method="POST"
                    style="display: inline;"
                  >
                    <button type="submit" class="delete-icon">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </form>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-warning" href="/expense/new" role="button">Add Expense</a>
  </div>
</div>