<div class="d-flex flex-column align-items-center">
  <h3>Create a new expense</h3>
  <div class="my-3" style="width: 80%;">
    <form action="/expense/new" method="POST">
      <div class="mb-3 d-flex">
        <label for="numberType" class="input-group-text">Type*</label>
        <select name="type" class="form-select" id="numberType" required>
          <option value="income">Income</option>
          <option value="expense">Expense</option>
        </select>
      </div>
      <div class="mb-3 d-flex">
        <label for="name" class="input-group-text">Name*</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          value="{{name}}"
          required
        />
      </div>
      <div class="mb-3 d-flex">
        <label for="date" class="input-group-text">Date*</label>
        <input
          type="date"
          name="date"
          class="form-control"
          id="date"
          min="1900-01-01"
          max="2100-12-31"
          value="{{date}}"
          required
        />
      </div>
      <div class="mb-3 d-flex">
        <label for="category" class="input-group-text">Category*</label>
        <select name="categoryId" class="form-select" id="category" required>
          <option value="">Choose...</option>
          {{#each categories}}
            <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="mb-3 d-flex">
        <label for="amount" class="input-group-text">Amount*</label>
        <input
          type="number"
          id="amount"
          name="amount"
          class="form-control"
          min="1"
          value="{{amount}}"
          required
        />
      </div>
      <div class="btn-control d-flex just-content-evenly">
        <button
          type="submit"
          class="btn btn-success mx-auto mt-3"
          style="width: 14rem;"
        >Submit</button>
        <a
          class="btn btn-dark mx-auto mt-3"
          style="width: 14rem"
          href="/"
        >Back</a>
      </div>

    </form>
  </div>
</div>